<h3>Categories</h3>

<section class="right">
  {{#linkTo 'categories.new'}}Create new category{{/linkTo}}
</section>

<table class="large-12 columns">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Priority</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  {{#each controller}}
    <tr>
      <td>{{id}}</td>
      <td>{{#linkTo 'categories.show' this}}{{name}}{{/linkTo}}</td>
      <td>{{priority}}</td>
      <td>
        {{#linkTo 'categories.edit' this}}Edit{{/linkTo}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

