<h3>Category Details</h3>

<section class='right'>
  {{#linkTo 'categories.index'}}Back{{/linkTo}}
  {{#linkTo 'categories.edit' this}}Edit{{/linkTo}}
</section>

<p>Id: {{id}}</p>
<p>Name: {{name}}</p>
<p>Priority: {{priority}}</p>

